/*-------------
    RESET
-------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*-------------
    LAYOUT
-------------*/

.container  {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.row3 {
    display: flex;
    align-items: center;
    margin-top: -15px;
}

.row2 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.head-row {
    justify-content: space-between;
    padding: 10px 0px;
}

.col-33 {
    width: calc(100% / 3);
}

.col-332 {
    width: calc(100% / 3);
    margin: 10px;
}
.content-33 {
    background-color: #FF6900;

}

.space {

}
/*-------------
    GENERAL
-------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.bg-orange {
    background-color: #FF6900;
}

.bg-white {
    background-color: #FFFFFF;
}

.txt-white {
    color: #FFFFFF;
}

.txt-white > a {
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 5px ;
}

a {
    text-decoration: none;
}

/*-------------
    ELEMENT
-------------*/

.logo {
    width: 15%;
    margin-right: 110px;
}