/*-------------
    RESET
-------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

/*-------------
    LAYOUT
-------------*/

.container  {
    max-width: 900px;
    margin: 0 auto;
}

.row {
    display: flex;
    align-items: center;
    padding-top: 40px;
}

.row3 {
    display: flex;
    align-items: center;
    margin-top: 13px;
    margin-bottom: 13px;
}

.row2 {
    display: flex;
    align-items: center;
    padding: 10px;
}

.head-row {
    justify-content: space-between;
    padding: 10px 0px;
}

.col-33 {
    width: calc(100% / 3);
}

.col-332 {
    width: calc(100% / 3);
    margin: 10px;
}
.content-33 {
    background-color: #FF6900;
}

.discount {
    position: relative;
}

.sub-discount {
    position: absolute;
    top: -110px;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
}

.sub-discount-2 {
    position: absolute;
    top: -110px;
    left: 45px;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
}

.sub-discount-3 {
    position: absolute;
    top: -110px;
    padding: 5px 8px 5px 8px;
    font-size: 12px;
}
/* .space {

} */
/*-------------
    GENERAL
-------------*/
body {
    font-family: 'Roboto', sans-serif;
}

.bg-orange {
    background-color: #FF6900;
}

.bg-white {
    background-color: #FFFFFF;
}

.txt-white {
    color: #FFFFFF;
}

.txt-white > a {
    color: #FFFFFF;
    font-weight: 700;
    padding-right: 5px ;
}

a {
    text-decoration: none;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: green;
}
/*-------------
    ELEMENT
-------------*/

.logo {
    width: 15%;
    margin-right: 110px;
}